/*Kod för hamburgermeny*/

.menu{
    height: 100vh;
    width: 50vw;
    background: hotpink;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}

.menu-botton{
    cursor: pointer;
    display: inline;

}

.menu-botton i.material-icons{
    font-size: 3rem;
}

.show{
    left: 0vw;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

.menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:black;
    display: block;
    transition: 0.3s;
}








/*BODY1*/
#body1{
    background-color: lightskyblue;
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
}


/*desktop BODY1*/
@media screen and (min-width: 1024px){       
#body1 .main{  
    padding-left: 150px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas:
    "hd hd hd hd"
    "nv nv nv nv"
    "sc sc sc sc"
    "ac ac ac ac"
    "ft ft ft ft"
        ;
}
    
    
#body1 header#hd{
    grid-area: hd;
    display: flex; align-items: center;
    flex-direction:row;
    justify-content: space-around;
}
 
#body1 nav#nv{    
    grid-area: nv;
    background-color: black;
    padding: 20px;
    border: 4.5px solid hotpink;
    margin: 0;
    display: flex; align-items: center;
    flex-direction: column;
}
 
#body1 article#ac{
    grid-area: ac;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-color:pink;
}
 
#body1 article#ac section{
    grid-area: ac;
    width: 30%;
    padding: 15px;
    margin: 2px;
    flex-direction: row;
    display:flex;
    justify-content: center;
    background-color:paleturquoise;
}
 
#body1 section#sc{
    grid-area: sc;
    display: flex; align-items: center;
    background-color:#001621;
    flex-direction: column;
    font-family: 'Sigmar One', cursive;
}
 
 
#body1 footer#ft{
    grid-area: ft;
    display: flex; align-items: center;
    flex-direction: column;
    font-family: 'Sigmar One', cursive;
    background-color:#001621;
}
 
 
#body1 footer#ft section{
    grid-area: ft;
    flex-direction: column;
    display: flex; align-items: center;
    background-color:lightblue;
    padding: 3.5rem;
    margin: 1.5rem;
    font-family: 'Sigmar One', cursive;
}

/*BILD*/ 
#body1 .Logga{
    width: 15rem;
    height: 15rem;
}
 
#body1 #makerspaceb{
    width: 20rem;
}
 
#body1 #sy{
    height: 20rem;
    width: 22rem;
}
 
#body1 #ps{
    height: 20rem;
    width: 25rem;
}
 
#body1 #robot{
    height: 20rem;
    width: 22rem;
}
 
#body1 .instagram{
    width: 5rem;
}
   
#body1 .facebook{
    width: 5rem;
}
 
#body1 .map{
    width: 5rem;
}
} 


   

/* telefon BODY1*/
@media screen and (max-width: 1024px){    

#body1 .wrapper{  
    padding-left: 40px;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "hd hd hd hd"
        "nv nv nv nv"
        "ac ac ac ac"
        "ft ft ft ft"
        ;
}
 
.menu-botton{
    display: block;
}


#body1 header#hd{
    grid-area: hd;
    display: flex; align-items: center;
    flex-direction:row;
    justify-content: space-around;
    font-size: 12.5px;
}
 
#body1 nav#nv{
    grid-area: nv;
    background-color: black;
    padding: 8px;
    border: 4.5px solid hotpink;
    margin: 0;
    font-size: 12px;
    display: flex; align-items: center;
    flex-direction: column;
}
 
 
#body1 article#ac{
    grid-area: ac;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-color:pink;
}
 
 
#body1 article#ac section{
    grid-area: ac;
    width: 40%;
    padding: 15px;
    margin: 2px;
    flex-direction: row;
    display:flex;
    justify-content: center;
    background-color:paleturquoise;
}
 
 
 
#body1 section#sc{
    grid-area: sc;
    display: flex; align-items: center;
    background-color:#001621;
    flex-direction: column;
    font-family: 'Sigmar One', cursive;
}
 
 
 
#body1 footer#ft{
    grid-area: ft;
    display: flex; align-items: center;
    flex-direction: column;
    font-family: 'Sigmar One', cursive;
    background-color:#001621;
}
 
 
#body1 footer#ft section{
    grid-area: ft;
    flex-direction: column;
    display: flex; align-items: center;
    background-color:lightblue;
    padding: 3.5rem;
    margin: 1.5rem;
    font-family: 'Sigmar One', cursive;
}
 
 
#body1 .Logga{
    width: 6.5rem;
}
 
#body1 #makerspaceb{
    width: 20rem;
}
 
#body1 #sy{
    height: 10rem;
    width: 11rem;
}
 
#body1 #ps{
    height: 10rem;
    width: 11rem;
}
  
#body1 #robot{
    height: 10rem;
    width: 11rem;
}
 
#body1 .instagram{
    width: 5rem;
}
   
#body1 .facebook{
    width: 5rem;
}
 
#body1 .map{
    width: 5rem;
}

}






 







 
/* body2*/
#body2{
    background-color: #034E3F;
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

 /*desktop BODY2*/
@media screen and (min-width: 1024px) {
#body2 .main{  
        padding-left: 150px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-areas:
        "hd hd hd hd"
        "nv nv nv nv"
        "sc sc sc sc"
        "ac ac ac ac"
        "ft ft ft ft"
        ;
    }
        

#body2 header#hd2{
    grid-area: hd;
    display: flex; align-items: center;
    flex-direction:row;
    justify-content: space-around;
    font-size: 12.2px;
}
 
#body2 nav#nv2{
    grid-area: nv;
    background-color:black;
    font-family: 'Sigmar One', cursive;
    display: flex; align-items: center;
    flex-direction: column;
    background-image: url(..img/sl3.png);
}
 
#body2 article#ac2{
    grid-area: ac;
    display: flex;
    align-items: center;
    font-family: 'Sigmar One', cursive;
    background-color: lightgray;
    flex-direction: column;
}

#body2 section#sc2 {
    grid-area: sc;
    display: flex; align-items: center;   
    flex-wrap: wrap;
    font-family: 'Sigmar One', cursive;
    background-color:lightgray;
    flex-direction: column;
}

#body2 section#sc2 section{
    grid-area: sc;
    flex-direction: row;
    display: flex; align-items: center;
    background-color:lightseagreen;
    padding: 3.5rem;
    margin: 1.5rem;
    font-family: 'Sigmar One', cursive;
}
 
 
#body2 footer#ft2 section{
    grid-area: ft;
    flex-direction: column;
    display: flex; align-items: center;
    background-color:lightseagreen;
    padding: 3.5rem;
    margin: 1.5rem;
    font-family: 'Sigmar One', cursive;
}
 
#body2 footer#ft2{
    grid-area: ft;
    display: flex; align-items: center;
    flex-direction: column;
    font-family: 'Sigmar One', cursive;
    background-color:white;
}
 
 
#mk3s{
    width: 18rem;
}
 
#sl3{
    width: 18rem;
}
 
#tryck{
    height: 20rem;
    width: 18rem;
}
 
#vinyl{
    height: 25rem;
    width: 20rem;
}
 
#laser{
    height: 25rem;
    width: 20rem;
}
 
 
#verk{
    height: 25rem;
    width: 20rem;
}
 
#pro{
    height: 25rem;
    width: 20rem;
}
 
#body2 .Logga{
    width: 15rem;
}
 
#body2 .instagram{
    width: 5rem;
}
   
#body2 .facebook{
    width: 5rem;
}
 
#body2 .map{
    width: 5rem;
}
 
}
 
 
 
 
 
/* telefon BODY2*/
@media screen and (max-width: 1024px){
 
#body2 .wrapper{  
        padding-left: 40px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-areas:
        "hd hd hd hd"
        "nv nv nv nv"
        "sc sc sc sc"
        "ac ac ac ac"
        "ft ft ft ft"
        ;
}
 
 
.menu-botton{
    display: block;
}

#body2 header#hd2{    
    grid-area: hd;
    display: flex; align-items: center;
    flex-direction: row;
    justify-content: space-around;
    font-size: 12.2px;
}
 
#body2 nav#nv2{
    grid-area: nv;
    background-color:black;
    font-family: 'Sigmar One', cursive;
    display: flex; align-items: center;
    flex-direction: column;
    background-image: url(..img/sl3.png);
}
 
 
#body2 article#ac2{
    grid-area: ac;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Sigmar One', cursive;
    background-color: lightgray;
}
 
#body2 section#sc2 {
    grid-area: sc;
    display: flex;
    display: flex; align-items: center;   
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Sigmar One', cursive;
    background-color:lightgray;
}
 
 
#body2 footer#ft2 section{
    grid-area: ft;
    flex-direction: column;
    display: flex; align-items: center;
    background-color:lightseagreen;
    padding: 3.5rem;
    margin: 1.5rem;
    font-family: 'Sigmar One', cursive;
}
 
#body2 footer#ft2{
    grid-area: ft;
    display: flex; align-items: center;
    flex-direction: column;
    font-family: 'Sigmar One', cursive;
    background-color:white;
}
  
 
#mk3s{
    width: 12rem;
}
 
#sl3{
    width: 12rem;
}
 
#tryck{
    height: 20rem;
    width: 13rem;
}
 
 
#vinyl{
    width: 12rem;
    height: 15rem;
}
 
#laser{
    width: 11rem;
    height: 15rem;
}
 
 
#verk{
    height: 13rem;
    width: 10rem;
}
 
#pro{
    height: 13rem;
    width: 10rem;
}
 
#body2 .Logga{
    width: 7.5rem;
}
 
#body2 .instagram{
    width: 5rem;
}
   
#body2 .facebook{
    width: 5rem;
}
  
#body2 .map{
    width: 5rem;
}
 
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
/* body3*/
#body3{
    background-color: white;
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

/*desktop body3*/
@media screen and (min-width: 1024px) {
#body3 main{
    display:grid;
    grid-template-columns:  auto auto auto auto;
    grid-template-areas:
    "hd hd hd hd"
    "nv nv nv nv"
    "sc sc sc sc"
    "ac ac ac ac"
    "ft ft ft ft"
    ;
}
  
#body3 header#hd3{    
    grid-area: hd;
    display: flex; align-items: center;
    flex-direction:row;
    justify-content: space-around;
    font-size: 12.2px;
}
 
#body3 nav#nv3{
    grid-area: nv;
    background-color:paleturquoise;
    display: flex; align-items: center;
    justify-items: center;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
}
 
 
#body3 article#ac3{
    grid-area: ac;
    display: flex; align-items: center;
    background-color:lightblue;
    flex-direction: column;
    font-family: 'Sigmar One', cursive;
}
 
#body3 section#sc3{
    grid-area: sc;
    background-color:lightcyan;
    display: flex; align-items: center;
    flex-direction: column;
    font-family: 'Sigmar One', cursive;
 
}
 
#body3 footer#ft3 section{
    grid-area: ft;
    flex-direction: column;
    display: flex; align-items: center;
    background-color:lightblue;
    padding: 3.5rem;
    margin: 1.5rem;
    font-family: 'Sigmar One', cursive;
}
  
#body3 footer#ft3{
    grid-area: ft;
    display: flex; align-items: center;
    flex-direction: column;
    font-family: 'Sigmar One', cursive;
    background-color:lightcyan;
}


#body3 .Logga{
        width: 15rem;
    }
 
#body3 .instagram{
        width: 5rem;
    }
       
#body3 .facebook{
        width: 5rem;
    }
 
#body3 .map{
        width: 5rem;
    }
 
    }
 


/* telefon */
@media screen and (max-width: 1024px){
#body3 .wrapper{
        padding-left: 40px;
        display:grid;
        grid-template-columns: auto auto auto auto;
        grid-template-areas:
        "hd hd hd hd"
        "nv nv nv nv"
        "sc sc sc sc"
        "ac ac ac ac"
        "ft ft ft ft"
        ;
    }
 
#body3 header#hd3{
    grid-area: hd;
    display: flex; align-items: center;
    flex-direction:row;
    justify-content: space-around;
    font-size: 12.2px;
}
 
#body3 nav#nv3{
    grid-area: nv;
    background-color:paleturquoise;
    display: flex; align-items: center;
    justify-items: center;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.1rem;
    padding: 1.2rem;
}
  
#body3 article#ac3{
    grid-area: ac;
    display: flex; align-items: center;
    background-color:lightblue;
    flex-direction: column;
    font-family: 'Sigmar One', cursive;
}
 
#body3 section#sc3{
    grid-area: sc;
    background-color:lightcyan;
    display: flex; align-items: center;
    flex-direction: column;
    font-family: 'Sigmar One', cursive;
 
}
 
#body3 footer#ft3 section{
    grid-area: ft;
    flex-direction: column;
    display: flex; align-items: center;
    background-color:lightblue;
    padding: 3.5rem;
    margin: 1.5rem;
    font-family: 'Sigmar One', cursive;
}

#body3 footer#ft3{
    grid-area: ft;
    display: flex; align-items: center;
    flex-direction: column;
    font-family: 'Sigmar One', cursive;
    background-color:lightcyan;
}

#body3 .Logga{
    width: 8rem;
}
 
#body3 .instagram{
    width: 5rem;
}
   
#body3 .facebook{
    width: 5rem;
}
 
#body3 .map{
    width: 5rem;
}
}
 
 
 





/* body4*/
#body4{
    background-color: white;
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

  /* DESKTOP body4*/   
@media screen and (min-width: 1024px){  
#body4 .main{  
    padding-left: 150px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas:
        "hd hd hd hd"
        "nv nv nv nv"
        "ac ac ac ac"
        "sc sc sc sc"
        "ft ft ft ft"
        ;
}
    
#body4 header#hd4{
    grid-area: hd;
    display: flex; align-items: center;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;
}
 
#body4 nav#nv4{
    grid-area: nv;
    background-color:paleturquoise;
    display: flex; align-items: center;
    justify-items: center;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
}
 
#body4 article#ac4{
    grid-area: ac;
    background-color:#004B84 ;
    display: flex; align-items: center;
    flex-direction: column;
}
 
 
#body4 section#sc4{
    grid-area: sc;
    display: flex; align-items: center;
    background-color:lightblue;
    flex-direction: column;
    font-family: 'Sigmar One', cursive;
}
 
 

#body4 footer#ft4 section{
    grid-area: ft;
    flex-direction: column;
    display: flex; align-items: center;
    background-color:lightblue;
    padding: 3.5rem;
    margin: 1.5rem;
    font-family: 'Sigmar One', cursive;
}
  
#body4 footer#ft4{
    grid-area: ft;
    display: flex; align-items: center;
    flex-direction: column;
    font-family: 'Sigmar One', cursive;
    background-color: hotpink;
}


    #body4 .Logga{
        width: 15rem;
    }
 
    #body4 .instagram{
        width: 5rem;
    }
       
    #body4 .facebook{
        width: 5rem;
    }
 
    #body4 .map{
        width: 5rem;
    }
 
}
 
 
 
/* body4 telefon */
@media screen and (max-width: 1024px){

#body4 .wrapper{
    padding-left: 40px;
    display:grid;
    grid-template-columns: auto;
    grid-template-areas:
    "hd hd hd hd"
    "nv nv nv nv"
    "sc sc sc sc"
    "ac ac ac ac"
    "ft ft ft ft"
    ;
}
 
#body4 header#hd4{
    grid-area: hd;
    display: flex; align-items: center;
    flex-direction: row;
    justify-content: space-around;
    font-size: 12px;
}
 
#body4 nav#nv4{
    grid-area: nv;
    background-color:paleturquoise;
    display: flex; align-items: center;
    justify-items: center;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.1rem;
}
 
#body4 article#ac4{
    grid-area: ac;
    background-color:lightcyan;
    display: flex; align-items: center;
    flex-direction: column;
    background-color: #004B84 ;
}
 
 
#body4 section#sc4{
    grid-area: sc;
    display: flex; align-items: center;
    background-color:lightblue;
    flex-direction: column;
    font-family: 'Sigmar One', cursive;
}
 

#body4 footer#ft4 section{
    grid-area: ft;
    flex-direction: column;
    display: flex; align-items: center;
    background-color:lightblue;
    padding: 3.5rem;
    margin: 1.5rem;
    font-family: 'Sigmar One', cursive;
} 

#body4 footer#ft4{
    grid-area: ft;
    display: flex; align-items: center;
    flex-direction: column;
    font-family: 'Sigmar One', cursive;
    background-color: hotpink;
}
 
 
#body4 .Logga{
    width: 5rem;
}
 
#body4 .instagram{
    width: 5rem;
}
   
#body4 .facebook{
    width: 5rem;
}
 
#body4 .map{
    width: 5rem;
}
 
}
 

